<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.adobe.marketing.mobile.identity">

  <application>
    <service
      android:exported="false"
      android:name="com.adobe.marketing.mobile.internal.ExtensionRegistrationService">
      <meta-data
        android:name="com.adobe.marketing.mobile:identity"
        android:value="com.adobe.marketing.mobile.identity.IdentityExtension" />
    </service>
  </application>
</manifest>
